body {
  background-color: #292524; /* igual ao blog */
  color: #e7e5e4;
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

/* ===== CABEÇALHO ===== */
.cabecario-home {
  background-color: #3a2f2f;
  padding: 14px 24px;
  display: flex;
  align-items: center;
}

.cabecario-home a {
  text-decoration: none;
  color: #c26d3c;
  font-size: 18px;
  margin-right: 16px;
  padding: 6px 12px;
  border-radius: 4px;
  transition: background-color 0.2s ease, color 0.2s ease;
}

.cabecario-home a:hover {
  background-color: #292524;
  color: #f5f5f4;
}

/* ===== TÍTULO HOME ===== */
.titulo-home {
  background-color: #292524;
  padding: 32px 20px;
  text-align: center;
}

.titulo-home h1 {
  margin: 0;
  font-family: 'Playfair Display', serif;
  font-size: 36px;
  color: #f5f5f4;
  letter-spacing: 0.5px;
}


/* ===== BLOCO DE ENTRADA DO BLOG ===== */
.blogs {
  background-color: #292524; /* igual ao body */
  margin: 0;
  padding: 60px 0;
  text-align: center;
  max-width: 900px;
  border-radius: 6px;
}

.blogs a {
  display: inline-block;
  padding: 18px 36px;

  background-color: #292524;
  color: #f5f5f4;
  text-decoration: none;

  font-family: 'Playfair Display', serif;
  font-size: 22px;

  border: 1px solid #3f3a37;
  border-radius: 6px;
}

.blogs a:hover {
  background-color: #3a2f2f;
  border-color: #6b4f2a;
  transform: translateY(-2px);
}
.blogs {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 40px; /* distância mínima entre os botões */
  max-width: 1000px;
  margin: 60px auto;
  padding: 0 20px;
}


.btn-blog {
  width: 280px;
  background-color: #292524;
  padding: 20px;
  border-radius: 8px;
  text-decoration: none;
  color: #f5f5f4;
  border: 1px solid #3a2f2f;
  transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.btn-blog:hover {
  transform: translateY(-4px);
  box-shadow: 0 10px 20px rgba(0,0,0,0.3);;
}

/* título do botão */
.btn-titulo {
  display: block;
  font-family: 'Playfair Display', serif;
  font-size: 26px;
  letter-spacing: 0.5px;
}

/* descrição */
.btn-desc {
  display: block;
  margin-top: 8px;
  font-family: 'Merriweather', serif;
  font-size: 16px;
  color: #cfc7bf;
}
.btn-blog.direita {
  align-self: flex-end; /* joga pra direita */
}

